* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #454db6;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 219, 219, 0.27);
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
.card{
    text-align: center;
    background-color: rgba(19,19,19,0.3);
    padding: 100px;
    border-radius: 10px;
    width: 350px;
}
.card-header{
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}
.card-content label{
    color:#fff;
    font-size: 35px;
    opacity: 0.8;
}
.card-content input{
    margin-top: 10px;
    padding: 0 5 6 5px;
    background-color: transparent;
    border:none;
    border-bottom:1px solid #e1e1e1;
    outline: none;

}
.card-content-area{
    display:flex;
    flex-direction: column;
    padding: 10 0px;
}
.card-footer{
    text-align: center;
}
.card-footer input{
    font-size: 35px;
    width: 100px;
    height: 50px;
    padding-bottom: 25px;
}