* {
    padding: 0px;
    margin: 0px;
}
.background{
    transition: 1.0s;
    animation-delay: 0.9s;
    position: relative;
    background-image: url("../img/background\ shrine\ maiden.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.imgStart{
    animation-duration: 0.9s;
    animation-name: startComingDown;
    position: relative;
    width: 400px;
    height: 30 5px;
    margin-left: 580px;
    top:-1000px;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
#chkMenu:checked~.imgStart{
    transition: 0.2s;
    animation-name: startDisappearing;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.9s;
    position: relative;
}
.reimu{
    margin-left: 200px;
    transition: 1.0s;
    display:flex;
    position: relative;
    margin-top: -1500px;
}
.reimu2{
    transition: 1.0s;
    animation-delay: 0.9s;
    padding: 100px;
    background-color: #fd54548a;
    text-align: center;
}
.div-h1{
    padding: 100px;
}
.reimu3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 500px;
    flex-direction: row;
    gap: 300px;
    align-items: center;
    text-align: center;
    color:rgb(25, 0, 255);
    padding:20px;
    background-color: #ff00008a;
}
#chkMenu:checked~.reimu{
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
    animation-name: reimuComingDown;

}
#chkMenu:checked~.background{
    transition: 1.0s;
    animation-delay: 0.9s;
    background-image: url("../img/background\ shrine\ maiden2.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:blur(2px);
}
@keyframes startComingDown{
    from{
        top:-1000px;
    }
    to{
        top:-200px;
    }
}

@keyframes startDisappearing{
    from{
        top:-200px;
    }
    to{
        top:-1000px;
    }
}

@keyframes reimuComingDown{
    from{
        animation-delay: 1.0s;
        transition: 1.0s;
        top:-1500px;
    }
    to{
        animation-delay: 1.0s;
        top: 800px;
    }
}