* {
    padding: 0px;
    margin: 0px;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}



.background{
    transition: 1.0s;
    animation-delay: 0.9s;
    position: relative;
    background-image: url("../img/background\ shrine\ maiden.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#reimu:checked~.background{
    transition: 1.0s;
    animation-delay: 0.9s;
    background-image: url("../img/background\ shrine\ maiden2.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:blur(2px);
}
#marisa:checked~.background{
    transition: 1.0s;
    animation-delay: 0.9s;
    background-image: url("../img/marisabackground.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:blur(2px);
}
#remilia:checked~.background{
    transition: 1.0s;
    animation-delay: 0.9s;
    background-image: url("../img/backgroundRemilia.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:blur(2px);
}



.imgStart{
    animation-duration: 0.9s;
    animation-name: startComingDown;
    position: relative;
    width: 400px;
    height: 30 5px;
    margin-left: 580px;
    bottom: -900px;
    animation-fill-mode: forwards;
    cursor:pointer;
}

.imgStart:hover{
    transition: 0.5s;
    opacity: 0.7;
}

#reimu:checked~.imgStart{
    transition: 0.2s;
    animation-name: startDisappearing;
    animation-timing-function: ease-out;
    animation-duration: 0.9s;
    position: relative;
}

#reimu:checked~#btn_play{
    display:none;
}


@keyframes startComingDown{
    from{
        bottom:-900px;
    }
    to{
        bottom: 200px;
    }
}

@keyframes startDisappearing{
    from{
        bottom: 200px;
    }
    to{
        bottom:-900px;
    }
}


.reimu{
    animation-duration: 2.0s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    animation-timing-function: ease-in-out;
    margin-left: 150px;
    display:flex;
    position: relative;
    align-items: center;
    margin-top: -1500px;
}
.reimu2{
    padding: 100px;
    background-color: #0000005b;
    text-align: center;
}
.div-h1{
    padding: 100px;
}
.reimu3{
    animation-name: reimuComingUp;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 500px;
    flex-direction: row;
    gap: 300px;
    align-items: center;
    text-align: center;
    color:rgb(255, 255, 255);
    padding:20px;
    background-color: #000000ad;
}
#reimu:checked~#reimu2{
    animation-duration: 2.0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: reimuComingDown;
}



@keyframes reimuComingDown{
    from{
        top:-1500px;
    }
    to{
        top: 900px;
    }
}
@keyframes reimuComingUp{
    from{
        top:700px;
    }
    to{
        top:-1500px;
    }
}


#marisa:checked~#reimu2{
    animation-duration: 1.0s;
    animation-name:reimuGoingLeft;
    animation-timing-function: ease-in-out;
}
#remilia:checked~#reimu2{
    animation-duration: 1.0s;
    animation-name:reimuGoingRight;
    animation-timing-function: ease-in-out;
}

@keyframes reimuGoingLeft{
    from{
        top: 900px;
        margin-left:150px;
    }
    to{
        margin-left: -2000px;
        top:900px;
    }
}

@keyframes reimuGoingRight{
    from{
        top: 900px;
        margin-left:150px;
    }
    to{
        margin-left: 2000px;
        top:900px;
    }
}

.arrow{
    height: 100px;
    width: 100px;
    cursor: pointer;
}



.marisa{
    margin-left: 150px;
    display:flex;
    position: relative;
    align-items: center;
    margin-top: -500px;
}
.marisa2{
    padding: 100px;
    background-color: #0000005b;
    text-align: center;
}
.div-h2{
    padding: 100px;
}
.marisa3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 500px;
    flex-direction: row;
    gap: 300px;
    align-items: center;
    text-align: center;
    color:rgb(255, 255, 255);
    padding:20px;
    background-color: #000000ad;
}
#marisa:checked~#marisa2{
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    animation-duration: 2.0s;
    animation-name: marisaComingLeft;

}
#marisa:checked~#marisa2{
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    animation-duration: 2.0s;
    animation-name: marisaComingRight;
}
@keyframes marisaComingRight{
    from{
        top:-1500px;
    }
    to{
        top: 900px;
    }
}
@keyframes marisaComingLeft{
    from{
        top:900px;
    }
    to{
        top:-1500px;
    }
}

.remilia{
    margin-left: 250px;
    display:flex;
    position: relative;
    align-items: center;
    margin-top: -495px;
}
.remilia2{
    padding: 100px;
    background-color: #0000005b;
    text-align: center;
}
.div-h3{
    padding: 100px;
}
.remilia3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 500px;
    flex-direction: row;
    gap: 300px;
    align-items: center;
    text-align: center;
    color:rgb(255, 255, 255);
    padding:20px;
    background-color: #000000ad;
}

#remilia:checked~#remilia2{
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    animation-duration: 2.0s;
    animation-name: remiliaComingRight;
}

@keyframes remiliaComingRight{
    from{
        top:-1500px;
    }
    to{
        top: 900px;
    }
}
@keyframes remiliaComingLeft{
    from{
        top:900px;
    }
    to{
        top:-1500px;
    }
}



#marisa{
    display:none;
}
#reimu{
    display:none;
}
#remilia{
    display:none;
}